@import "reset";

$accent-color: #D03958;
$main-color: #E3D5B8;
$text-color: #161616;
$font-family: Arial, sans-serif;

html{
    font-family: $font-family;
    letter-spacing: -1px;
}

.content-width{
    width: 1000px;
}

.centered-content{
    margin: 0 auto;
}

.clearfix{
    clear: both;
}

.accent-color{
    color: $accent-color;
}

.text-link{
    text-decoration: none;
}

.checkbox-label{
    display: block;

    text-align: left;

    input[type=checkbox]{
        display: none;
    }

    &-text{
        font-size: 20px;
        color: white;

        vertical-align: top;

        &::before{
            content: '';

            box-sizing: border-box;
            display: inline-block;

            width: 18px;
            height: 18px;

            background-color: white;

            margin-right: 22px;

            border-radius: 5px;
        }

        input[type=checkbox]:checked + &::before{
            background-image: url("../images/checked-icon.svg");
            background-size: 14px, 14px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.main-header{
    display: flex;
    align-items: center;

    padding: 30px 0 0 0;

    &-wrapper{
        background-color: $main-color;
    }

    &-title{
        font-size: 88px;
        color: $accent-color;
        margin-right: auto;
    }

    a{
        @extend .text-link;

        text-transform: uppercase;

        color: $text-color;

        margin-left: 20px;
        padding: 10px 15px;
        border-radius: 5px;

        &:nth-of-type(1){
            margin-left: 0;
        }

        &.selected, &.selected:hover{
            background-color: $accent-color;
            color: white;
        }

        &:hover{
            background-color: transparentize($accent-color, 0.4);
            color: white;
        }
    }
}

.travel-is-beautiful{
    &-wrapper{
        background-color: $main-color;
        font-size: 0;
        text-align: center;
    }

    &-content{
        padding: 126px 0 0 0;
    }

    display: inline-block;
    vertical-align: top;

    max-width: 480px;
    text-align: left;

    &-title{
        font-size: 90px;
        text-transform: uppercase;

        margin-bottom: 30px;
    }
    
    &-description{                
        font-size: 20px;
        line-height: 28px;
    }

    &-form{
        box-sizing: border-box;
        display: inline-block;

        margin-left: 80px;

        width: 400px;
        background-color: $accent-color;
        text-align: center;
        padding: 28px 24px;
        border-radius: 5px;

        &-title{
            color: white;
            font-size: 22px;
            text-transform: uppercase;
            margin-bottom: 36px;
        }

        input{
            &[type=text], &[type=email]{
                box-sizing: border-box;

                display: block;
                margin: 0 auto;
                width: 350px;
    
                padding: 15px 0 15px 18px;
                font-size: 20px;
    
                margin-bottom: 17px;
                border-radius: 5px;
                border: none;
    
                &::placeholder{
                    color: #B5B5B5;
                }
            }
        }

        &-accept{
            margin-top: 23px;
        }

        &-button{
            width: 100%;

            margin-top: 21px;

            font-size: 22px;
            text-transform: uppercase;
            color: white;
            background-color: $text-color;
            border: none;
            border-radius: 5px;
            padding: 15px 0;
        }
    }
}

.our-services{
    &-wrapper{
        margin-top: -84px;
        background-color: white;
    }

    padding: 30px 0 70px 0;

    &-title{
        font-size: 50px;
        text-transform: uppercase;
    }

    &-list{
        display: flex;
        justify-content: space-between;

        margin-top: 88px;

        &-item{

            text-align: center;
            max-width: 168px;
            height: 235px;

            display: flex;
            flex-direction: column;

            &-icon{
                margin-bottom: auto;
            }

            &-text{
                font-size: 20px;
                color: $text-color;
            }
        }
    }
}

.our{
    &-story{
        background-color: $accent-color;

        &-description{
            max-width: 607px;
            font-size: 20px;
            color: white;
            line-height: 28px;
        }

        &-link{
            text-decoration: none;
            text-transform: uppercase;
            color: $text-color;
            font-size: 22px;

            text-align: center;
            border-radius: 5px;

            background-color: $main-color;
            padding: 20px 0;
            width: 269px;
        }
    }

    &-story-containers{
        padding: 30px 105px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.pricing{
    &-content{
        background-color: $main-color;
    }

    &-containers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 0;
        text-align: center;
    }

    &-container{
        background-color: white;
        max-width: 318px;
        padding: 30px 60px 13px 60px;
        border-radius: 5px;

        &-span{
            font-size: 22px;
            color: $text-color;
            margin-bottom: 22px;
        }

        &-title{
            color: $accent-color;
            font-size: 60px;
            text-transform: uppercase;
            margin-bottom: 17px;
        }

        &-description{
            font-size: 20px;
            color: $text-color;
            line-height: 28px;

            margin-bottom: 30px;
        }

        &-link{
            color: $text-color;
            font-size: 22px;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 5px;

            background-color: $main-color;

            display: block;
            width: 205px;
            padding: 12px 0;
        }

        .accent-color{
            background-color: $accent-color;
            color: white;
        }
    }
}

.pricing-title{
    text-align: center;
    background-color: $main-color;
    padding-top: 53px;
    text-transform: uppercase;
    font-size: 50px;
    color: $text-color;
}

.testimonial-and-gallery-containers{
    display: flex;
    justify-content: space-between;
    
    padding: 130px 0 120px 0;
    text-align: center;
}

.testimonial{
    &-container{
        font-size: 20px;
        text-align: center;
        margin-bottom: 63px;
        line-height: 28px;
        padding: 21px 75px 28px 26px;
        


        .woman{
            background-color: $main-color;
            border-radius: 5px;
            text-align: left;
        }
        
        .man{
            text-align: left;
            
        }
    }

    &-description{
        margin-bottom: 20px;
    }

    &-span{
        color: $accent-color;
        margin-bottom: 30px;
    }

    &-title{
        font-size: 50px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
}

.gallery{
    &-container{
        
    }

    &-title{
        font-size: 50px;
        color: $accent-color;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    &-icons{
        img{
            width: 104px;
            height: 104px;
        }
    }

    &-subtitle{
        margin-top: 42px;
    
        a{
            font-size: 20px;
            color: $accent-color;
        }
    }
}

.footer{
    &-content{
        background-color: $text-color;
    }

    &-container{
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 60px 0 51px 0;
    }

    &-description{
        align-self: center;
    }

    &-logo{
        font-size: 65px;
        color: $accent-color;
    }
}