@import "reset";

$accent-color: #D03958;
$main-color: #E3D5B8;
$text-color: #161616;
$font-family: Arial, sans-serif;

html{
    font-family: $font-family;
    letter-spacing: -1px;
}

.content-width{
    width: 1000px;
}

.centered-content{
    margin: 0 auto;
}

.clearfix{
    clear: both;
}

.accent-color{
    color: $accent-color;
}

.text-link{
    text-decoration: none;
}

.checkbox-label{
    display: block;

    text-align: left;

    input[type=checkbox]{
        display: none;
    }

    &-text{
        font-size: 20px;
        color: white;

        vertical-align: top;

        &::before{
            content: '';

            box-sizing: border-box;
            display: inline-block;

            width: 18px;
            height: 18px;

            background-color: white;

            margin-right: 22px;

            border-radius: 5px;
        }

        input[type=checkbox]:checked + &::before{
            background-image: url("../images/checked-icon.svg");
            background-size: 14px, 14px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.main-header{
    display: flex;
    align-items: center;

    padding: 30px 0 0 0;

    &-wrapper{
        background-color: $main-color;
    }

    &-title{
        font-size: 88px;
        color: $accent-color;
        margin-right: auto;
    }

    a{
        @extend .text-link;

        text-transform: uppercase;

        color: $text-color;

        margin-left: 20px;
        padding: 10px 15px;
        border-radius: 5px;

        &:nth-of-type(1){
            margin-left: 0;
        }

        &.selected, &.selected:hover{
            background-color: $accent-color;
            color: white;
        }

        &:hover{
            background-color: transparentize($accent-color, 0.4);
            color: white;
        }
    }
}

.travel-is-beautiful{
    &-wrapper{
        background-color: $main-color;
        font-size: 0;
        text-align: center;
    }

    &-content{
        padding: 126px 0 0 0;
    }

    display: inline-block;
    vertical-align: top;

    max-width: 480px;
    text-align: left;

    &-title{
        font-size: 90px;
        text-transform: uppercase;

        margin-bottom: 30px;
    }
    
    &-description{                
        font-size: 20px;
        line-height: 28px;
    }

    &-form{
        box-sizing: border-box;
        display: inline-block;

        margin-left: 80px;

        width: 400px;
        background-color: $accent-color;
        text-align: center;
        padding: 28px 24px;
        border-radius: 5px;

        &-title{
            color: white;
            font-size: 22px;
            text-transform: uppercase;
            margin-bottom: 36px;
        }

        input{
            &[type=text], &[type=email]{
                box-sizing: border-box;

                display: block;
                margin: 0 auto;
                width: 350px;
    
                padding: 15px 0 15px 18px;
                font-size: 20px;
    
                margin-bottom: 17px;
                border-radius: 5px;
                border: none;
    
                &::placeholder{
                    color: #B5B5B5;
                }
            }
        }

        &-accept{
            margin-top: 23px;
        }

        &-button{
            width: 100%;

            margin-top: 21px;

            font-size: 22px;
            text-transform: uppercase;
            color: white;
            background-color: $text-color;
            border: none;
            border-radius: 5px;
            padding: 15px 0;
        }
    }
}

.our-services{
    &-wrapper{
        margin-top: -84px;
        background-color: white;
    }

    padding: 30px 0 70px 0;

    &-title{
        font-size: 50px;
        text-transform: uppercase;
    }

    &-list{
        display: flex;
        justify-content: space-between;

        margin-top: 88px;

        &-item{

            text-align: center;
            max-width: 168px;
            height: 235px;

            display: flex;
            flex-direction: column;

            &-icon{
                margin-bottom: auto;
            }

            &-text{
                font-size: 20px;
                color: $text-color;
            }
        }
    }
}

.our-story{
    &-wrapper{
        background-color: $accent-color;
    }

    padding: 30px 0;
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    &-description{
        max-width: 607px;
        font-size: 20px;
        color: white;
        line-height: 28px;
    }

    &-link{
        text-decoration: none;
        text-transform: uppercase;
        color: $text-color;
        font-size: 22px;

        text-align: center;
        border-radius: 5px;

        background-color: $main-color;
        padding: 20px 71px;
    }
}

.pricing{
    &-wrapper{
        background-color: $main-color;
    }

    padding: 50px 0;

    &-title{
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        color: $text-color;
    }

    &-plans-list{
        display: flex;
        justify-content: space-between;

        padding: 50px 0;
        text-align: center;

        &-item{
            box-sizing: border-box;

            background-color: white;
            width: 318px;
            padding: 30px 60px;
            border-radius: 5px;

            position: relative;
            overflow: hidden;

            &-name{
                font-size: 22px;
                color: $text-color;
                margin-bottom: 22px;
            }

            &-price{
                color: $accent-color;
                font-size: 60px;
                text-transform: uppercase;
                margin-bottom: 17px;
            }

            &-description{
                font-size: 20px;
                color: $text-color;
                line-height: 28px;

                margin-bottom: 30px;
            }

            &-link{
                color: $text-color;
                font-size: 22px;
                text-transform: uppercase;
                text-decoration: none;
                border-radius: 5px;
    
                background-color: $main-color;
    
                display: block;
                width: 205px;
                padding: 12px 0;

                &.popular{
                    color: white;
                    background-color: $accent-color;
                }
            }

            &-popular-banner{
                position: absolute;
                top: 0;
                left: 0;

                background-color: #B4A993;
                padding: 40px 60px 20px 60px;

                font-size: 16px;
                text-align: center;
                color: $text-color;
                
                transform: rotate(-45deg) translateX(-20%) translateY(-65%);
            }
        }
    }
}

%circle-icon-with-shadow {
    border-radius: 100%;
    box-shadow: 0 -5px 16px rgba(#B8AC93, $alpha: 0.75);
}

.achievements{
    &-wrapper{
        background-color: white;
    }

    padding: 138px 0 120px 0;

    &-title{
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        color: $text-color;

        margin-bottom: 50px;
    }

    &-testimonial{
        float: left;

        &-story{
            padding: 22px 75px 28px 26px;

            position: relative;            
            margin-bottom: 35px;

            &:first-of-type{
                padding-top: 0;
            }

            &:last-of-type{
                margin-bottom: 0;
            }

            &.accent{
                background-color: $main-color;
                border-radius: 5px;
            }

            &-text, &-author{
                max-width: 340px;
                line-height: 28px;
                font-size: 20px;
            }

            &-author{
                display: block;
                margin-top: 20px;
            }

            &-photo{
                @extend %circle-icon-with-shadow;

                position: absolute;

                width: 104px;
                height: 104px;

                top: 50%;
                right: 0;

                transform: translateY(-50%) translateX(50%);
            }
        }
    }

    &-gallery{
        float: right;

        & .accent-color{
            @extend .accent-color;
        }

        &-icons{
            display: grid;
            grid-template-columns: repeat(3, 104px);
            column-gap: 34px;
            row-gap: 30px;

            img{
                @extend %circle-icon-with-shadow;

                border-radius: 100%;
                width: 100%;
                height: auto;
            }
        }

        &-link{
            display: block;

            margin-top: 42px;

            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            color: $accent-color;

            &:visited{
                color: $accent-color;
            }
        }
    }
}

.footer{
    &-content{
        background-color: $text-color;
    }

    &-container{
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 60px 0 51px 0;
    }

    &-description{
        align-self: center;
    }

    &-logo{
        font-size: 65px;
        color: $accent-color;
    }
}